h1 {
  color: white;
  background-color: F38693;
   font-family: Georgia, "Times New Roman",
          Times, serif;
  font-size: xxx-large;
  padding-top: 10px;
}

p {
  color: white
  font-family:Georgia, "Times New Roman",
          Times, serif
 font-size: large;
}
