h1 {
  color: white;
  background-color: F38693;
   font-family: Georgia, "Times New Roman",
          Times, serif;
  font-size: xxx-large;
}

body {
  color: white
  font-family:Georgia, "Times New Roman",
          Times, serif
 font-size: large;
}
